@media only screen and (max-width: 1650px) {
    .solution-section .solution-img {
        padding: 70px 65px 30px;
        width: 284px;
    }
    .solution-section .solution-image-box{
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 1600px) {
    .header-section .navbar .navbar-nav .nav-item {
        min-width: 120px;
    }

    .banner-section {
        height: auto;
        background-position: center;
    }
}

@media only screen and (min-width: 1440px) {
.retail-tool-section::before {
    position: absolute;
    content: "";
    top: -20%;
    left: 0%;
    width: 100%;
    height: 681px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/tool-section-bg.png);
    z-index: -1;
}
}

@media only screen and (max-width: 1440px) {
    .header-section .navbar .navbar-nav .nav-link {
        font-size: 22px;
    }

    .header-section .navbar .navbar-nav .nav-item {
        min-width: 110px;
    }

    .header-section .primary-button {
        font-size: 22px;
        padding: 2px 35px;
    }

    .solution-section .solution-img {
        padding: 55px 65px 20px;
       
    }

    /* new01 */
    .retail-tool-section .tabslider-content h4 {
        font-size: 42px;
    }

    .retail-tool-section .tabslider-content {
        padding: 146px 50px;
    }

    .solution-section .solution-img p {
        font-size: 24px;
        line-height: normal;
    }

    .solution-section .solution-img {
        padding: 55px 55px 16px;
    }

}

@media only screen and (max-width: 1330px) {
    .header-section .navbar .navbar-nav .nav-item:nth-child(5) {
        min-width: 80px;
    }

    .header-section .navbar .navbar-nav .nav-item {
        min-width: 100px;
    }

    .header-section .navbar .navbar-nav .nav-link {
        font-size: 20px;
    }

    .header-section .primary-button {
        font-size: 20px;
        padding: 0px 25px;
    }

    .benefits-section .benefit-content-section .benefit-card p {
        font-size: 22px;
        line-height: normal;
        letter-spacing: normal;
    }

}

@media only screen and (max-width: 1200px) {
    .team-section .card-title {
        font-size: 28px;
    }
    .team-section .card-subtitle {
        font-size: 20px;
    }
    .team-section .card-text {
        font-size: 20px;
    }
    .header-section .navbar .navbar-nav {
        max-width: 70%;
    }
}

@media only screen and (max-width: 1280px) {


    .banner-section .banner-content .icon-text-box {
        min-width: 270px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 30px;
    }

    .solution-section .solution-img p {
        font-size: 24px;
        line-height: normal;
    }

    .solution-section .solution-img {
        padding: 38px 50px 15px;
        display: flex;
        justify-content: center;
        min-width: 220px;
        min-height: 100px;
    }

    .retail-section .section-grid-container .section-grid-card .list-items ul li {
        line-height: 40px;
    }

    .solution-section .solution-img .icon-box {
        width: 70px;
        height: 70px;
    }

    .icon-box .image-block img {
        width: 100%;
        height: auto;
    }

    .solution-section .solution-img {
        padding: 55px 55px 16px;
        display: flex;
        justify-content: center;
    }

    .solution-main-content .row {
        align-items: center;
    }
}

@media only screen and (max-width: 1120px) {

    .header-section .navbar .navbar-nav .nav-item {
        min-width: 90px;
    }

    .header-section .navbar .navbar-nav .nav-item:nth-child(5) {
        min-width: 70px;
    }

    .header-section .navbar .navbar-nav {
        max-width: 74%;
        margin-left: 20px;
    }

    .header-section .navbar .navbar-nav .nav-link {
        font-size: 18px;
    }

    .header-section .primary-button {
        font-size: 18px;
        padding: 0px 14px;
    }

    .banner-section .banner-content {
        gap: 20px;
    }

    .solution-section .solution-img p {
        font-size: 18px;
    }

    .solution-section .solution-img {
        padding: 35px 20px 21px;
        min-width: 180px;
        min-height: 80px;
    }

    .solution-section .solution-text p {
        font-size: 24px;
        line-height: 34px;
    }

    .solution-section .section-title {
        font-size: 44px;
    }
}

@media only screen and (max-width: 1025px) {
    .solution-section .solution-img .icon-box {
        width: 60px;
        height: 60px;
        top: -32px;
    }
}


@media only screen and (max-width: 992px) {
    .retail-tool-section::before {
        top: -10%;
    }
    .wht-button {
        display: none;
    }

    .contact_terms_div h2 {
        margin: auto;
        padding-left: 80px;
    }

    .solution-main-content .row {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .solution-section .solution-image-box {
        gap: 60px;
    }

    .solution-section .section-title {
        display: none;
    }

    .solution-section .section-title.mobile {
        display: block;
        margin-bottom: 50px;
    }

    .custom-toggler .close-icon {
        display: none;
    }

    .custom-toggler.collapsed .default-icon {
        display: inline-block;
    }

    .custom-toggler.collapsed .close-icon {
        display: none;
    }

    .custom-toggler:not(.collapsed) .default-icon {
        display: none;
    }

    .custom-toggler:not(.collapsed) .close-icon {
        display: inline-block;
    }

    .header-section .navbar .navbar-nav {
        max-width: 100%;
        margin: 16px 0 20px 10px;
    }

    .header-section .navbar .navbar-nav .nav-link {
        text-align: left;
    }

    .header-section .navbar .navbar-nav .nav-link {
        font-size: 24px;
        padding: 12px 0;
    }

    .header-section .button-part {
        justify-content: center;
        margin: 10px 0px
    }

    .header-section .primary-button {
        font-size: 16px;
        padding: 2px 40px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 240px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 28px;
    }

    .banner-section .banner-content .right-box .icon-text-box h6 {
        padding: 0 10px 0 70px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        padding: 0 70px 0 10px;
    }

    .banner-section .banner-content .image-box .image-block img {
        width: 90%;
        margin: auto;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 260px;
    }

    .banner-section .banner-content .image-box .image-block {
        display: flex;
        justify-content: center;
    }

    .banner-section .banner-content .image-box .top-block {
        display: flex;
        justify-content: center;
    }

    .banner-section .banner-content {
        gap: 10px;
    }

    .section-title {
        font-size: 44px;
    }

    .solution-section .solution-img .icon-box {
        top: -32px;
    }

    .solution-main-content .row {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .solution-section .solution-image-box {
        gap: 60px;
    }

    /* new01 */
    .retail-tool-section .tabslider-content {
        max-width: 100%;
        width: 100%;
        max-height: 194px;
    }

    .retail-tool-section .tabslider-content h4 {
        font-size: 30px;
    }


    .benefits-section .benefit-content-section .benefit-card p {
        font-size: 16px;
    }

    .benefits-section .benefit-content-section .benefit-card {
        border-radius: 8px;
        height: auto;
        width: 100%;
        padding: 26px 15px 18px;
        min-height: 100px;
    }

    .benefits-section .benefit-content-section .benefit-card .icon-box img {
        width: 16px;
        height: 16px;
    }

    .benefits-section .benefit-left,
    .benefits-section .benefit-right,
    .benefits-section .benefit-image {
        gap: 50px;
    }

    .retail-section .section-details-para {
        font-size: 20px;
        line-height: normal;
        margin-top: 25px;
    }

    .expert-section .section-title {
        padding-top: 100px;
    }

    .expert-section::before {
        position: absolute;
        content: "";
        top: 14px;
        background-size: contain;
        left: 0px;
        background-image: url(../images/experct-bg-design.png);
        width: 752px;
        background-repeat: no-repeat;
        height: 185px;
        z-index: -1;
    }

    .primary-button {
        font-size: 20px;
        padding: 2px 16px;
        min-width: 200px;
        text-align: center;
    }
    .header-section form{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .solution-section .solution-image-box{
        transform: scale(1);
    }
    .retail-tool-section::before {
        top: -7%;
        left: -14%;
        width: 114%;
    }
    .banner-section .banner-content .image-box .top-block img {
        width: 268px;
    }

    .contact_terms_div .section-title {
        font-size: 28px;
        padding-left: 0px !important;
    }

    .retail-section .section-grid-container {
        background-image: none;
    }

    .icon-box .image-block img {
        width: 100%;
        height: auto;
    }

    .solution-section .solution-img .icon-box {
        width: 50px;
        height: 50px;
        top: -26px;
    }
    

    .solution-section .solution-img {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .solution-section .solution-img {
        padding: 40px 36px 12px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 40px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 20px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 190px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 60px;
    }

    .banner-section .banner-content .icon-text-box .icon-box img {
        width: 30px;
        height: 30px;
    }

    .banner-section .banner-content .icon-text-box .icon-box {
        top: 0px;
    }

    .banner-section .banner-content .right-box .icon-text-box .icon-box {
        left: 0px;
    }

    .banner-section .banner-content .icon-text-box .icon-box {
        right: 0px;
    }

    .banner-section .primary-button {
        font-size: 18px;
        padding: 0px 40px;
    }

    .retail-section .section-grid-container {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 620px) {
    .team-section .card-title {
        font-size: 24px;
    }
    .team-section .card-subtitle {
        font-size: 18px;
    }
    .team-section .card-text {
        font-size: 18px;
    }
    .retail-tool-section::before {
        top: -3%;
        left: -16%;
        width: 114%;
    }
    .top-block h6 {
        font-size: 16px;
    }
    .banner-section .banner-content .image-box .top-block img {
        width: 224px;
    }
    .banner-section .banner-content .icon-text-box h6 {
        font-size: 16px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 150px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 46px;
    }

    .banner-section .banner-content .icon-text-box .icon-box img {
        width: 16px;
        height: 16px;
    }

    .banner-section .banner-content {
        gap: 18px;
    }

    /* .banner-section .banner-content .right-box .icon-text-box h6 {
        padding: 0 10px 0 40px;
    } */
    .banner-section .banner-content .right-box .icon-text-box h6 {
        padding: 0 22px 0 50px;
        width: 130px;
    }

    /* .banner-section .banner-content .icon-text-box h6 {
        padding: 0 40px 0 10px;
    } */
    .banner-section .banner-content .icon-text-box h6 {
        padding: 0px 60px 0px 25px;
    }

    .benefits-section .benefit-content-section .benefit-card p {
        font-size: 10px;
    }

    .benefits-section .benefit-content-section .benefit-card {
        border-radius: 8px;
        height: auto;
        width: 100%;
        padding: 30px 5px 16px;
        min-height: 50px;
    }

    .benefits-section .benefit-content-section .benefit-card .icon-box img {
        width: 11px;
        height: 11px;
    }

    .benefits-section .benefit-left,
    .benefits-section .benefit-right,
    .benefits-section .benefit-image {
        gap: 50px;
    }

    .benefits-section .benefit-content-section {
        padding: 20px 0;
        gap: 20px;
    }

    .section-card-header img {
        width: 60px;
        height: 60px;
    }

    .retail-section .section-grid-container .section-grid-card {
        padding: 20px;
    }

    .solution-section .solution-img {
        padding: 34px 10px 18px;
        min-width: 170px;
        min-height: 70px;
        border-radius: 10px;
    }

    .solution-section .section-title {
        font-size: 38px;
    }

    .solution-section .solution-text p {
        font-size: 20px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 520px) {
    .expert-section .section-title-small {
        margin: 15px auto 25px auto;
    }
    .retail-tool-section::before {
        top: -12%;
        left: -20%;
        width: 126%;
    }
    .banner-section {
        height: auto;
        background-position: top;
    }
    .top-block h6 {
        margin-top: 15px;
    }
    .banner-section .banner-content .image-box .top-block img {
        width: 178px;
    }
    .top-block h6 {
        font-size: 14px;
    }

    .benefits-section::after {
        position: absolute;
        content: "";
        top: -35%;
        z-index: -1;
        left: -13%;
        width: 125%;
        height: 631px;
        background-image: url(../images/circle-bg-effect.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .benefits-section .benefit-image {
        background: none;
    }

    .contact_terms_div {
        margin-bottom: 25px;
    }

    .contact_terms_div .section-title {
        font-size: 22px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 14px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 130px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 30px;
    }

    .banner-section .primary-button {
        font-size: 15px;
        padding: 2px 22px;
        line-height: 32px;
    }

    .primary-button {
        min-width: 130px;
    }

    .header-section .primary-button {
        padding: 9px 40px;
    }

    .section-title {
        font-size: 30px;
        line-height: 38px;
    }

    .banner-section .banner-content .icon-text-box .icon-box img {
        width: 10px;
        height: 10px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 40px;
    }

    .common-spacing {
        padding-top: 40px;
    }

    .banner-section .banner-content {
        padding: 24px 0;
    }

    /* new01 */
    .retail-tool-section .tabslider-content h4 {
        font-size: 28px;
        border-radius: 16px;
    }

    .retail-section .section-details-para {
        font-size: 15px;
        line-height: normal;
        margin-top: 15px;
    }

    .retail-section .section-grid-container {
        margin-top: 18px;
    }

    .team-section .team-content-data {
        padding-top: 68px;
    }

    .contact_container {
        padding: 12px 25px 25px 25px;
        border-radius: 17px;
    }

    .contact_form_label {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .primary-button {
        font-size: 11px;
        line-height: normal;
        padding: 10px 60px;
    }

    .solution-section .solution-img p {
        font-size: 14px;
    }

    .solution-section .solution-img {
        padding: 30px 10px 18px;
        min-width: 130px;
        min-height: 65px;
    }

    .solution-section .solution-image-box {
        gap: 30px;
    }

    .solution-main-content .row {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .solution-section .section-title {
        font-size: 26px;
    }

    .solution-section .solution-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .contact_terms_container {
        padding: 15px 10px;
    }
}

@media only screen and (max-width: 420px) {
    .team-section .LinkdinIcon img {
        width: 32px;
        height: 32px;
    }

    .team-section .card-title {
        font-size: 20px;
    }
    .team-section .card-subtitle {
        font-size: 12px;
    }
    .team-section .card-text {
        font-size: 15px;
    }
   
    .benefits-section .benefit-content-section .benefit-card {
        width: 105%;
        padding: 14px 5px 8px;
    }
    .retail-tool-section::before {
        top: -8%;
        left: -23%;
    }
    .contact_terms_div .section-title {
        font-size: 20px;
    }

    .contact_terms_close_btn_a {
        width: 25px;
        height: 25px;
        padding: 4px 10px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 120px;
    }

    .icon-box {
        padding: 6px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 32px;
    }

    .icon-box .image-block {
        padding: 4px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 114px;
    }

    .banner-section .primary-button {
        font-size: 13px;
        padding: 10px 10px;
        line-height: normal;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 40px;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 126%;
    }

    .banner-section .banner-content .image-box .image-block img {
        margin-top: 16px;
    }

    .section-title {
        font-size: 25px;
        line-height: 38px;
    }

    .section-title-small {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .solution-section .solution-img p {
        font-size: 10px;
    }

    .solution-section .solution-img .icon-box {
        width: 34px;
        height: 34px;
        top: -16px;
    }

    .solution-section .solution-img {
        padding: 30px 8px 10px;
        min-width: 100px;
        min-height: 40px;
    }

}

@media only screen and (max-width: 376px) {
    .banner-section .banner-content {
        gap: 5px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 30px;
        margin-bottom: 25px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 30px;
    }

    .banner-section .banner-content .image-box .image-block img {
        margin-top: 0px;
    }

    .common-spacing {
        padding-top: 24px;
    }
}



.solution-partner-content .row{
    row-gap: 30px;
   }
   .solution-partner-content .row div{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .solution-partner-content {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 30px;
     padding-top: 30px;
   }
   
   .solution-partner-content .brand {
     background-color: var(--dark);
     border-radius: 12px;
     border: 0.6px solid #272727;
     padding: 30px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     max-height: 68px;
     max-width: 230px;
   }
   .solution-partner-content .brand img{
     width: 100%;
   }
   
   @media only screen and (max-width: 578px) {
     .solution-partner-content .row>* {
         width: 33% !important;
       }
     }
   
   @media(max-width:520px) {
     .solution-partner-content .row {
       row-gap: 15px;
   }
     .solution-partner-content .brand {
       padding: 10px;
       max-width: 100px;
       height: 50px;
       border-radius: 5px;
   }
   }
   
   
   
   
   
   