@media screen and (max-width: 1650px) {
    .solution-section .solution-img {
        padding: 70px 65px 30px;
        width: 284px;
    }

    .solution-section .solution-image-box {
        transform: scale(0.9);
    }
}
@media screen and (max-width: 1600px) {
    .header-section .navbar .navbar-nav .nav-item {
        min-width: 120px;
    }

    .banner-section {
        height: auto;
        background-position: center;
    }
}
@media screen and (max-width: 1440px) {
    .header-section .navbar .navbar-nav .nav-link {
        font-size: 22px;
    }

    .header-section .navbar .navbar-nav .nav-item {
        min-width: 110px;
    }

    .header-section .primary-button {
        font-size: 22px;
        padding: 2px 35px;
    }

    .solution-section .solution-img {
        padding: 55px 65px 20px;

    }

    /* new01 */
    .retail-tool-section .tabslider-content h4 {
        font-size: 42px;
    }

    .retail-tool-section .tabslider-content {
        padding: 146px 50px;
    }

    .solution-section .solution-img p {
        font-size: 24px;
        line-height: normal;
    }

    .solution-section .solution-img {
        padding: 55px 55px 16px;
    }

}
@media screen and (max-width: 1330px) {
    .header-section .navbar .navbar-nav .nav-item:nth-child(5) {
        min-width: 80px;
    }

    .header-section .navbar .navbar-nav .nav-item {
        min-width: 100px;
    }

    .header-section .navbar .navbar-nav .nav-link {
        font-size: 20px;
    }

    .header-section .primary-button {
        font-size: 20px;
        padding: 0px 25px;
    }

    .benefits-section .benefit-content-section .benefit-card p {
        font-size: 22px;
        line-height: normal;
        letter-spacing: normal;
    }

}
@media screen and (max-width:1300px) {
    .expert-section .carousel .card-content .card-details {
        min-height: 390px;
    }
}
@media screen and (max-width: 1280px) {


    .banner-section .banner-content .icon-text-box {
        min-width: 270px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 30px;
    }

    .solution-section .solution-img p {
        font-size: 24px;
        line-height: normal;
    }

    .solution-section .solution-img {
        padding: 38px 50px 15px;
        display: flex;
        justify-content: center;
        min-width: 220px;
        min-height: 100px;
    }

    .retail-section .section-grid-container .section-grid-card .list-items ul li {
        line-height: 40px;
    }

    .solution-section .solution-img .icon-box {
        width: 70px;
        height: 70px;
    }

    .icon-box .image-block img {
        width: 100%;
        height: auto;
    }

    .solution-section .solution-img {
        padding: 55px 55px 16px;
        display: flex;
        justify-content: center;
    }

    .solution-main-content .row {
        align-items: center;
    }
}
@media screen and (max-width: 1200px) {

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-size: 20px;
    }

    .nav-tabs .nav-link {
        font-size: 20px;
    }

    .feature-section .text-part h5 {
        font-size: 24px;
        line-height: normal;
        letter-spacing: normal;
    }

    .feature-section .text-part h3 {
        font-size: 40px;
        line-height: normal;
        letter-spacing: normal;
    }

    .feature-section .text-part p {
        font-size: 24px;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 40px;
    }

    .feature-section .text-part ul li {
        padding-left: 16px;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 18px;
    }

    .team-section .card-title {
        font-size: 28px;
    }

    .team-section .card-subtitle {
        font-size: 20px;
    }

    .team-section .card-text {
        font-size: 20px;
    }

    .header-section .navbar .navbar-nav {
        max-width: 70%;
    }
}
@media screen and (max-width: 1120px) {

    .header-section .navbar .navbar-nav .nav-item {
        min-width: 90px;
    }

    .header-section .navbar .navbar-nav .nav-item:nth-child(5) {
        min-width: 70px;
    }

    .header-section .navbar .navbar-nav {
        max-width: 74%;
        margin-left: 20px;
    }

    .header-section .navbar .navbar-nav .nav-link {
        font-size: 18px;
    }

    .header-section .primary-button {
        font-size: 18px;
        padding: 0px 14px;
    }

    .banner-section .banner-content {
        gap: 20px;
    }

    .solution-section .solution-img p {
        font-size: 18px;
    }

    .solution-section .solution-img {
        padding: 35px 20px 21px;
        min-width: 180px;
        min-height: 80px;
    }

    .solution-section .solution-text p {
        font-size: 24px;
        line-height: 34px;
    }

    .solution-section .section-title {
        font-size: 44px;
    }
}
@media screen and (max-width: 1025px) {
    .solution-section .solution-img .icon-box {
        width: 60px;
        height: 60px;
        top: -32px;
    }
}
@media screen and (max-width: 1024px) {
    .solution-partner-content .row .brand img {
        width: inherit;
    }

    .retail-tool-section {
        background-position-y: -150px;
    }
}
@media screen and (max-width: 992px) {
    .top-block h6 {
        font-size: 28px;
    }

    .contact_form_control {
        width: 100%;
    }

    .small-logo {
        height: auto;
    }

    .retail-tool-section::before {
        top: -10%;
    }

    .wht-button span {
        display: none;
    }

    .wht-button img.me-2 {
        margin-right: 0 !important;
    }

    .wht-button .primary-button {
        height: 70px;
        border-radius: 50%;
        width: 70px;
        min-width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .retail-tool-section {
        background-position-y: -100px;
    }

    .contact_terms_div h2 {
        margin: auto;
        padding-left: 80px;
    }

    .solution-main-content .row {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .solution-section .solution-image-box {
        gap: 60px;
    }

    .solution-section .section-title {
        display: none;
    }

    .solution-section .section-title.mobile {
        display: block;
        margin-bottom: 50px;
    }

    .custom-toggler .close-icon {
        display: none;
    }

    .custom-toggler.collapsed .default-icon {
        display: inline-block;
    }

    .custom-toggler.collapsed .close-icon {
        display: none;
    }

    .custom-toggler:not(.collapsed) .default-icon {
        display: none;
    }

    .custom-toggler:not(.collapsed) .close-icon {
        display: inline-block;
    }

    .header-section .navbar .navbar-nav {
        max-width: 100%;
        margin: 16px 0 20px 10px;
    }

    .header-section .navbar .navbar-nav .nav-link {
        text-align: left;
    }

    .header-section .navbar .navbar-nav .nav-link {
        font-size: 24px;
        padding: 12px 0;
    }

    .header-section .button-part {
        justify-content: center;
        margin: 10px 0px
    }

    .header-section .primary-button {
        font-size: 16px;
        padding: 2px 40px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 240px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 28px;
    }

    .banner-section .banner-content .right-box .icon-text-box h6 {
        padding: 0 10px 0 70px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        padding: 0 70px 0 10px;
    }

    .banner-section .banner-content .image-box .image-block img {
        width: 90%;
        margin: auto;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 260px;
    }

    .banner-section .banner-content .image-box .image-block {
        display: flex;
        justify-content: center;
    }

    .banner-section .banner-content .image-box .top-block {
        display: flex;
        justify-content: center;
    }

    .banner-section .banner-content {
        gap: 10px;
    }

    .section-title {
        font-size: 44px;
    }

    .solution-section .solution-img .icon-box {
        top: -32px;
    }

    .solution-main-content .row {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .solution-section .solution-image-box {
        gap: 60px;
    }

    /* new01 */
    .retail-tool-section .tabslider-content {
        max-width: 100%;
        width: 100%;
        max-height: 194px;
    }

    .retail-tool-section .tabslider-content h4 {
        font-size: 30px;
    }


    .benefits-section .benefit-content-section .benefit-card p {
        font-size: 16px;
    }

    .benefits-section .benefit-content-section .benefit-card {
        border-radius: 8px;
        height: auto;
        width: 100%;
        padding: 26px 15px 18px;
        min-height: 100px;
    }

    .benefits-section .benefit-content-section .benefit-card .icon-box img {
        width: 16px;
        height: 16px;
    }

    .benefits-section .benefit-left,
    .benefits-section .benefit-right,
    .benefits-section .benefit-image {
        gap: 50px;
    }

    .retail-section .section-details-para {
        font-size: 20px;
        line-height: normal;
        margin-top: 25px;
    }

    .expert-section .section-title {
        padding-top: 100px;
    }

    .expert-section::before {
        position: absolute;
        content: "";
        top: 14px;
        background-size: contain;
        left: 0px;
        background-image: url(../images/experct-bg-design.png);
        width: 752px;
        background-repeat: no-repeat;
        height: 185px;
        z-index: -1;
    }

    .primary-button {
        font-size: 20px;
        padding: 2px 16px;
        min-width: 200px;
        text-align: center;
    }

    .header-section form {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:991px) {
    .custom-select-wrapper {
        width: 100%;
    }

    .footer_cont_p2 {
        display: flex;
        justify-content: start;
    }

    .footer_p {
        font-size: 20px;
        margin-bottom: 16px !important;
    }

    .footer_cont_p1 {
        height: auto;
        flex-direction: row;
    }

    .footer_cont_p1_p {
        font-size: 20px;
    }

    .footer_cont_div {
        gap: 40px;
    }

    .footer_cont_p2_div_a {
        font-size: 20px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-size: 16px;
    }

    .nav-tabs .nav-link {
        font-size: 16px;
    }

    .feature-section .tab-content .row {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .feature-section #myNewTabContent .row {
        flex-direction: column;
        gap: 40px;
    }

    .expert-section .carousel .card-content .card-details {
        min-height: 240px;
    }

    .expert-section::after {
        top: 24%;
        left: 57px;
    }

    .expert-section .carousel .card-content {
        margin-bottom: 40px;
    }

    .testimonial-section .carousel .card-content {
        margin-bottom: 35px;
    }

    .owl-theme .owl-nav button img {
        width: 35px;
        height: 35px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 16px !important;
        height: 16px !important;
    }

    .footer_media {
        margin-top: 0px;
    }
}
@media screen and (min-width: 768px) {

    .footer_cont_p3_rights {
        display: none;
    }


}
@media screen and (max-width: 768px) {

    .solution-section .solution-image-box {
        transform: scale(1);
    }

    .retail-tool-section::before {
        top: -7%;
        left: -14%;
        width: 114%;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 268px;
    }

    .retail-tool-section {
        background-position-y: -100px;
    }

    .contact_terms_div .section-title {
        font-size: 28px;
        padding-left: 0px !important;
    }

    .retail-section .section-grid-container {
        background-image: none;
    }

    .icon-box .image-block img {
        width: 100%;
        height: auto;
    }

    .solution-section .solution-img .icon-box {
        width: 50px;
        height: 50px;
        top: -26px;
    }


    .solution-section .solution-img {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .solution-section .solution-img {
        padding: 40px 36px 12px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 40px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 20px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 190px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 60px;
    }

    .banner-section .banner-content .icon-text-box .icon-box img {
        width: 30px;
        height: 30px;
    }

    .banner-section .banner-content .icon-text-box .icon-box {
        top: 0px;
    }

    .banner-section .banner-content .right-box .icon-text-box .icon-box {
        left: 0px;
    }

    .banner-section .banner-content .icon-text-box .icon-box {
        right: 0px;
    }

    .banner-section .primary-button {
        font-size: 18px;
        padding: 0px 40px;
    }

    .wht-button .primary-button {
        padding: 0 20px;
    }

    .retail-section .section-grid-container {
        margin-top: 30px;
    }

    .footer_cont_p2 {
        display: none;
    }

    .footer_cont_p3_div img {
        width: 16px;
    }

    .footer_p {
        font-size: 18px;
        margin-bottom: 8px !important;
    }

    .footer_cont_p1_p {
        display: none;
    }

    .contact_form_control {
        width: 100%;
    }

    .footer_cont_div {
        padding: 25px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_cont_p1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_media {
        margin: 0px;
    }

    .footer_cont_p2 {
        display: none;
    }


    .footer_cont_p3 {
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
    }

    .section-grid-card h2 {
        font-size: 26px;
        line-height: normal;
        letter-spacing: normal;
    }

    .section-grid-card p {
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;

    }

    .section-grid-card li {
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;

    }
}
@media screen and (max-width:767px) {
    .top-block h6 {
        font-size: 20px;
    }

    .footer_cont_p3_div {
        align-items: start;
    }

    .solution-main-content {
        padding: 40px 0;
    }

    .container {
        max-width: 95%;
    }

    .banner-section .banner-content {
        transform: scale(0.8);
    }

    .expert-section .carousel .card-content {
        padding: 24px 30px 10px 30px;
    }

    .carousel .card-content .card-details .card-details-text {
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        color: var(--white);
    }

    .expert-section .card-details-text {
        margin-top: 40px;
    }


    .expert-section .carousel .card-content .card-details {
        min-height: 210px;
    }

    .expert-section .section-title-small {
        width: 100%;
        margin: 26px auto;
        text-align: left;
    }

    .expert-section .carousel .card-content {
        border-radius: 14px;
        margin-bottom: 88px;
    }

    .section-title {
        font-size: 40px;
        letter-spacing: normal;
        line-height: 47px;
    }

    .section-title-small {
        font-size: 24px;
        line-height: 30px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-size: 14px;
    }

    .nav-tabs .nav-link {
        font-size: 14px;
    }

    .nav-tabs .nav-item:has(.nav-link.active) {
        border-bottom: 3px solid var(--primary);
    }

    .feature-section .text-part h5 {
        font-size: 20px;
    }

    .feature-section .text-part h3 {
        font-size: 32px;
    }

    .feature-section .text-part p {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .feature-section .text-part ul li {
        padding-left: 10px;
        font-size: 16px;
    }

    .feature-section .text-part ul li::after {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 620px) {
    .wht-button .primary-button {
        height: 50px;
        width: 50px;
        min-width: 50px;
    }

    .wht-button {
        right: -10%;
    }

    .wht-button .primary-button img {
        width: 30px;
    }

    .retail-tool-section {
        background-position-y: -60px;
    }

    .team-section .card-title {
        font-size: 24px;
    }

    .team-section .card-subtitle {
        font-size: 18px;
    }

    .team-section .card-text {
        font-size: 18px;
    }

    .retail-tool-section::before {
        top: -3%;
        left: -16%;
        width: 114%;
    }

    .top-block h6 {
        font-size: 16px;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 224px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 16px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 150px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 46px;
    }

    .banner-section .banner-content .icon-text-box .icon-box img {
        width: 16px;
        height: 16px;
    }

    .banner-section .banner-content {
        gap: 18px;
    }

    /* .banner-section .banner-content .right-box .icon-text-box h6 {
        padding: 0 10px 0 40px;
    } */
    .banner-section .banner-content .right-box .icon-text-box h6 {
        padding: 0 22px 0 50px;
        width: 130px;
    }

    /* .banner-section .banner-content .icon-text-box h6 {
        padding: 0 40px 0 10px;
    } */
    .banner-section .banner-content .icon-text-box h6 {
        padding: 0px 60px 0px 25px;
    }

    .benefits-section .benefit-content-section .benefit-card p {
        font-size: 10px;
    }

    .benefits-section .benefit-content-section .benefit-card {
        border-radius: 8px;
        height: auto;
        width: 100%;
        padding: 30px 5px 16px;
        min-height: 50px;
    }

    .benefits-section .benefit-content-section .benefit-card .icon-box img {
        width: 11px;
        height: 11px;
    }

    .benefits-section .benefit-left,
    .benefits-section .benefit-right,
    .benefits-section .benefit-image {
        gap: 50px;
    }

    .benefits-section .benefit-content-section {
        padding: 20px 0;
        gap: 20px;
    }

    .section-card-header img {
        width: 60px;
        height: 60px;
    }

    .retail-section .section-grid-container .section-grid-card {
        padding: 20px;
    }

    .solution-section .solution-img {
        padding: 34px 10px 18px;
        min-width: 170px;
        min-height: 70px;
        border-radius: 10px;
    }

    .solution-section .section-title {
        font-size: 38px;
    }

    .solution-section .solution-text p {
        font-size: 20px;
        line-height: 34px;
    }
}
@media screen and (max-width:580px) {

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-size: 10px;
    }

    .nav-tabs .nav-link {
        font-size: 10px;
    }

    .nav-tabs .nav-item:has(.nav-link.active) {
        border-bottom: 2px solid var(--primary);
        margin-right: 0px;
    }

    .feature-section .text-part h5 {
        font-size: 12px;
    }

    .feature-section .text-part h3 {
        font-size: 20px;
    }

    .feature-section .text-part p {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .feature-section .text-part ul li {
        padding-left: 10px;
        font-size: 10px;

    }

    .feature-section .text-part ul li::after {
        width: 20px;
        height: 20px;
    }

    .nav-tabs .nav-link {
        padding: 0px;
    }

    .retail-tool-section .feature-section .text-part h3 {
        font-size: 25px;
    }

    .retail-tool-section .feature-section .text-part p {
        font-size: 15px;
        text-align: justify;
    }

    .retail-tool-section .feature-section .text-part ul li {
        margin-bottom: 20px;
    }

    .retail-tool-section .feature-section .tab-content .row {
        gap: 16px;
    }

    .retail-tool-section .feature-section .text-part ul {
        padding: 16px 16px 12px 54px;
        border-radius: 16px;
    }

    .expert-section .bg-design {
        position: relative;
        padding-top: 115px;
    }

    .expert-section .bg-design::after {
        bottom: 0px;
        background-image: url(../images/experct-bg-design2.png);
        background-size: contain;
        height: 186px;
    }

    .retail-section .section-grid-container .section-grid-card {
        border-radius: 17px;
        padding: 20px;
    }

    .retail-section .section-grid-container {
        padding: 0px;
        margin-top: 70px;
    }

    .modal .section-title {
        font-size: 14px;
        line-height: normal;
    }

}
@media screen and (max-width: 578px) {
    .solution-partner-content .row>* {
        width: 33% !important;
    }
}
@media screen and (max-width: 520px) {
    .expert-section .section-title-small {
        margin: 15px auto 25px auto;
    }

    .retail-tool-section::before {
        top: -12%;
        left: -20%;
        width: 126%;
    }

    .banner-section {
        height: auto;
        background-position: top;
        padding-top: 100px !important;
    }

    .top-block h6 {
        margin-top: 15px;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 178px;
    }

    .top-block h6 {
        font-size: 14px;
    }

    .benefits-section::after {
        position: absolute;
        content: "";
        top: -35%;
        z-index: -1;
        left: -13%;
        width: 125%;
        height: 631px;
        background-image: url(../images/circle-bg-effect.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .benefits-section .benefit-image {
        background: none;
    }

    .contact_terms_div {
        margin-bottom: 25px;
    }

    .contact_terms_div .section-title {
        font-size: 22px;
    }

    .banner-section .banner-content .icon-text-box h6 {
        font-size: 14px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 130px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 30px;
    }

    .banner-section .primary-button {
        font-size: 15px;
        padding: 2px 22px;
        line-height: 32px;
    }

    .primary-button {
        min-width: 130px;
    }

    .header-section .primary-button {
        padding: 9px 40px;
    }

    .section-title {
        font-size: 30px;
        line-height: 38px;
    }

    .banner-section .banner-content .icon-text-box .icon-box img {
        width: 10px;
        height: 10px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 40px;
    }

    .common-spacing {
        padding-top: 40px;
    }

    .banner-section .banner-content {
        padding: 24px 0;
    }

    /* new01 */
    .retail-tool-section .tabslider-content h4 {
        font-size: 28px;
        border-radius: 16px;
    }

    .retail-section .section-details-para {
        font-size: 15px;
        line-height: normal;
        margin-top: 15px;
    }

    .retail-section .section-grid-container {
        margin-top: 18px;
    }

    .team-section .team-content-data {
        padding-top: 68px;
    }

    .contact_container {
        padding: 12px 25px 25px 25px;
        border-radius: 17px;
    }

    .contact_form_label {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .primary-button {
        font-size: 11px;
        line-height: normal;
        padding: 10px 60px;
    }

    .solution-section .solution-img p {
        font-size: 14px;
    }

    .solution-section .solution-img {
        padding: 30px 10px 18px;
        min-width: 130px;
        min-height: 65px;
    }

    .solution-section .solution-image-box {
        gap: 30px;
    }

    .solution-main-content .row {
        flex-direction: column-reverse;
        gap: 25px;
    }

    .solution-partner-content .row {
        row-gap: 15px;
    }

    .solution-partner-content .brand {
        padding: 10px;
        max-width: 100px;
        height: 50px;
        border-radius: 5px;
    }

    .solution-section .section-title {
        font-size: 26px;
    }

    .solution-section .solution-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .contact_terms_container {
        padding: 15px 10px;
    }

    .retail-section .section-grid-container .section-grid-card .section-button {
        padding: 0px;
    }

    .retail-section .section-grid-container .section-grid-card .section-button button {
        padding: 6px;
    }

    .footer_cont_p3_div img {
        margin-top: -5px !important;

    }

    .footer_cont_p3_div {
        margin-bottom: 15px;
    }

    .owl-theme.wideWidth .owl-nav {
        max-width: 200px !important;
    }

    .owl-theme .owl-nav {
        max-width: 170px !important;
    }

    .header-section .navbar .navbar-brand img {
        width: 28px;
        height: 28px;
    }

    .header-section .navbar .navbar-brand {
        font-size: 30px;
        line-height: normal;
    }

    .solution-partner-content .brand {
        padding: 6px;
    }

    .expert-section .carousel .card-content .card-logo img {
        width: 70px;
        height: 70px;
    }

    .carousel .card-content .card-details .card-details-text {
        font-size: 12px;
        line-height: 18px;
    }

    .expert-section .card-details-text {
        margin-top: 20px;
    }

    .expert-section .carousel .card-content .card-details {
        min-height: 110px;
    }

    .testimonial-section .carousel .card-profile .profile-logo {
        width: 26px;
        height: 26px;
        margin: 0px 0 10px;
    }

    .testimonial-section .carousel .card-profile .profile-logo img {
        width: 16px;
        height: 16px;
        border: 2px solid var(--primary);
    }

    .expert-section .carousel .card-content {
        margin-bottom: 10px;
    }

    .testimonial-section .carousel .card-content {
        margin-bottom: 10px;
    }

    .expert-section .carousel .card-content {
        padding: 15px;
    }

    .testimonial-section .carousel .card-content {
        padding: 16px 15px 0px 15px;
        border-radius: 14px;
    }

    .testimonial-section .carousel .card-content::after {
        width: 30px;
    }

    .testimonial-section .carousel .card-profile h3 {
        font-size: 10px;
    }

    .testimonial-section .carousel .card-profile h5 {
        font-size: 10px;
    }

    .expert-section::after {
        top: 43%;
        left: -113px;
        width: 156%;
        height: 256px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-title-small {
        font-size: 18px;
        line-height: 24px;
    }

    .blank-space {
        height: 40px;
    }

    .owl-theme .owl-nav button img {
        width: 25px;
        height: 25px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 10px !important;
        height: 10px !important;
    }

    .owl-theme .owl-dots {
        margin-top: -37px !important;
    }

    .section-grid-card h2 {
        font-size: 16px;
    }

    .section-grid-card p {
        font-size: 12px;

    }

    .retail-section .section-grid-container .section-grid-card .list-items ul li {
        font-size: 12px;
        padding-left: 35px;
        line-height: 26px !important;
    }

    .retail-section .section-grid-container .section-grid-card .section-button button {
        width: 126px;
        border-radius: 4px;
        font-size: 11px;
    }

    .retail-section .row .col-lg-6 {
        padding: 0px !important;
    }

    .retail-section .section-details-para {
        text-align: start;
    }

    .feature-section .feature-tabBar {
        padding-bottom: 0px;
    }

    .retail-tool-section .tabslider-content {
        border-radius: 17px;
        margin-bottom: 10px;
        padding: 70px 10px !important;
        height: 194px;
    }

    .feature-section #myNewTabContent .row {
        gap: 16px;
    }

    .feature-scetion-card {
        border-radius: 4px;
        padding: 10px;
    }

    .solution-section .solution-text p {
        font-size: 15px;
        line-height: normal;
        letter-spacing: normal;
    }

    .solution-main-content {
        padding: 30px 0 0 0;
    }

    .retail-section .section-grid-container .section-grid-card .list-items ul li {
        margin-bottom: 0px;
    }

    .retail-tool-section .feature-section .text-part ul {
        padding: 14px 5px 14px 40px;
        border-radius: 16px;
    }

    .retail-section .section-grid-container .section-grid-card .list-items li::before {
        top: 0px;
    }

    .footer_cont_div {
        border-radius: 16px;
        padding: 14px;
    }

    .footer_media p {
        font-size: 14px;
    }

    .footer_logo {
        width: 136px;
        height: 34px;
    }

    .ft-icon.one {
        margin-right: 15px !important;
    }

    .ft-icon {
        width: 20px;
        height: 20px;
    }

    .footer_p {
        font-size: 12px;
        margin-bottom: 0px !important;
        line-height: 20px;
    }

    .footer_cont_p3 {
        height: auto;
    }

    .ft_last_p {
        font-size: 12px;
        margin-top: 0px !important;
    }

    .footer {
        margin-bottom: 20px;
    }

    .footer_up_icon_main {
        width: 40px;
        height: 40px;
    }

    .footer_up_icon {
        width: 10px;
        height: 12px;
    }

    .retail-section .info-card .section-box-title {
        font-size: 16px;
        padding-right: 20px;
    }

    .info-card-header img {
        width: 20px;
        height: 30px;
        padding: 0px !important;
    }

    .retail-section .info-card .info-card-header {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding: 7px;
    }

    .retail-section .information-text {
        font-size: 11px;
    }

    .retail-section .info-card {
        border-radius: 17px;
    }

    .solution-partner-section {
        background-image: url(../images/solution-partner-bg.png);
        padding-bottom: 26px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .icon-box .image-block img {
        height: 20px;
        width: 20px;
    }

    .feature-section .section-title {
        margin-bottom: 14px;
    }

    .feature-section .text-part ul li::after {
        left: -26px;
    }

    .header-section .navbar {
        padding: 10px 0;
    }

    .header-section .navbar-toggler-icon {
        width: 22px !important;
        height: 22px !important;
    }

    .contact_form_check_input:checked::after {
        top: 1px;
        left: 7px;
        width: 5px;
        height: 12px;
    }

    .contact_form_check_input {
        width: 35px;
    }
}

@media only screen and (max-width: 420px) {
    .team-section .LinkdinIcon img {
        width: 32px;
        height: 32px;
    }

    .team-section .card-title {
        font-size: 20px;
    }

    .team-section .card-subtitle {
        font-size: 12px;
    }

    .team-section .card-text {
        font-size: 15px;
    }

    .benefits-section .benefit-content-section .benefit-card {
        width: 105%;
        padding: 14px 5px 8px;
    }

    .retail-tool-section::before {
        top: -8%;
        left: -23%;
    }

    .contact_terms_div .section-title {
        font-size: 20px;
    }

    .contact_terms_close_btn_a {
        width: 25px;
        height: 25px;
        padding: 4px 10px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 120px;
    }

    .icon-box {
        padding: 6px;
    }

    .banner-section .banner-content .icon-text-box {
        height: 32px;
    }

    .icon-box .image-block {
        padding: 4px;
    }

    .banner-section .banner-content .icon-text-box {
        min-width: 114px;
    }

    .banner-section .primary-button {
        font-size: 13px;
        padding: 10px 10px;
        line-height: normal;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 40px;
    }

    .banner-section .banner-content .image-box .top-block img {
        width: 126%;
    }

    .banner-section .banner-content .image-box .image-block img {
        margin-top: 16px;
    }

    .section-title {
        font-size: 25px;
        line-height: 38px;
    }

    .section-title-small {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .solution-section .solution-img p {
        font-size: 10px;
    }

    .solution-section .solution-img .icon-box {
        width: 34px;
        height: 34px;
        top: -16px;
    }

    .solution-section .solution-img {
        padding: 30px 8px 10px;
        min-width: 100px;
        min-height: 40px;
    }

}

@media only screen and (max-width: 376px) {
    .banner-section .banner-content {
        gap: 5px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 30px;
        margin-bottom: 25px;
    }

    .banner-section .banner-content .right-box,
    .banner-section .banner-content .left-box {
        gap: 30px;
    }

    .banner-section .banner-content .image-box .image-block img {
        margin-top: 0px;
    }

    .common-spacing {
        padding-top: 24px;
    }
}